body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
  /* background-color: #0B610B; */
  background-color: #DF7401;
  border-bottom: 1px solid #0101d1;
  text-shadow: 0px -1px 0px #0101d1;
}
.container {
  width: 700px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 300px;
}
.main-content p {
  margin-bottom: 20px;
}
.sidebar {
  float: right;
  width: 300px;
}
